APP_NAME=AnonAddy
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://example.com

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=10080

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=sendmail
MAIL_FROM_NAME=Example
MAIL_FROM_ADDRESS=mailer@example.com

ANONADDY_RETURN_PATH=mailer@example.com
ANONADDY_ADMIN_USERNAME=johndoe
ANONADDY_ENABLE_REGISTRATION=true
ANONADDY_DOMAIN=example.com
ANONADDY_HOSTNAME=mail.example.com
ANONADDY_DNS_RESOLVER=127.0.0.1
ANONADDY_ALL_DOMAINS=example.com,example2.com
ANONADDY_SECRET=long-random-string
ANONADDY_LIMIT=200
ANONADDY_BANDWIDTH_LIMIT=104857600
ANONADDY_NEW_ALIAS_LIMIT=10
ANONADDY_ADDITIONAL_USERNAME_LIMIT=3
ANONADDY_SIGNING_KEY_FINGERPRINT=your-signing-key-fingerprint
ANONADDY_DKIM_SIGNING_KEY=/path/to/your/dkim/signing/key
ANONADDY_DKIM_SELECTOR=default