/node_modules
/public/hot
/public/storage
/public/build
/public/css
/public/js
/public/mix-manifest.json
/storage/*.key
/storage/debugbar
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.php-cs-fixer.cache
.phpunit.result.cache
ray.php
.husky/pre-commit
