/.phpunit.cache
/node_modules
/public/hot
/public/storage
/public/build
/public/css
/public/js
/public/mix-manifest.json
/storage/*.key
/storage/debugbar
/vendor
/postfix/vendor
/.fleet
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.env
.env.backup
.env.production
.php-cs-fixer.cache
.phpunit.result.cache
ray.php
.husky/pre-commit
